.container{
     margin-bottom: 100px;
}


.bg-color{
    background-color:#feeae9 ;
}
.carousel-item{
     padding: 20px 40px;
}
.price{
    color: #FF1C74;
}
.buy-now{
    background-color: #FF2D80;
    color:white;
    padding: 10px 27px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}